<h1>Edit Product:</h1>
<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div>
     <div class="form-group">
         <label>Title:</label>
         <input class="form-control" type="text" name="name" value="<%=@product.name%>">
     </div>
     <div class="form-group">
         <label>Price:</label>
         <input class="form-control" type="text" name="price" value="<%=@product.price%>">
     </div>
     <div class="form-group">
         <label>Description:</label>
         <input class="form-control" type="text" name="description" value="<%=@product.description%>">
    </div>
    <div class="form-group">
        <label>Image:</label>
        <input class="form-control" type="text" name="image" value="<%=@product.image%>">
  </div>
  <input class="btn btn-primary" type="submit" value="Edit product">
<% end %>
