

 <p> Name: <%= @product.name %></p>
 <p> Price: <%= @product.price %></p>
 <p> Description: <%= @product.description %></p>
 <% @product.images.each do |image| %>
      <span class="frame">
       <img class="picture" src="<%= image.url %>" />
     </span>
  <% end %>
 <p> <%= @product.sale_message %></p>
 <p>Tax: <%= number_to_currency(@product.tax) %> </p>
 <p> Total: <%= number_to_currency(@product.total) %> </p>

<a class="btn btn-default"data-confirm="Are you sure?" data-method="delete" rel="nofollow" href="/products/<%= @product.id %>">Delete</a>
<a class="btn btn-default" href="/products/<%=@product.id%>/edit"> Edit</a>



<%= form_tag "/carted_products/", method: :post do %>
     <div class="form-group">
         <%=label_tag :quantity %>
         <%= text_field_tag :quantity %>
         <%= hidden_field_tag :product_id, @product.id%>
         <%= submit_tag "Add to Cart!"%>
      </div>
<% end %>
