<!DOCTYPE html>
<html>
    <head>
        <title>MiniCapstone</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/products">All dresses</a>
                        </li>
                        <li>
                            <a href="/products/new">Add more dress</a>
                        </li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <% if logged_in? %>
          <div class="container">
            Welcome, <%= current_user.name %>
          </div>
        <% end %>

        <%flash.each do |key, message| %>
            <% warning_style = ("info" if key == 'message') || key %>
            <div class="alert alert-<%=warning_style%>">
                <%= message %>
            </div>
        <% end %>

        <div class="container">
            <%= yield %>
          <ul>
               <% Category.all.each do |category| %>
                 <a href="/products?category=<%=category.name%>"><%= category.name %></a>
               <% end %>
               <li class="divider"></li>
           <li><a href="/carted_products">Checkout (<%= @cart_count %>)</a></li>

           <li class="divider"></li>
           <li><a href="/logout">Logout</a></li>

          </ul>
        </div>
    </body>
</html>
